In [ ]:
import os


os.chdir("../")


os.getcwd()

'd:\\DA_workspace\\car_price_prediction\\src'

In [ ]:
import pandas as pd
import numpy as np
from regressor.Mylib import myfuncs
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split

Doc du lieu

In [ ]:
df = myfuncs.load_python_object("../artifacts/data_ingestion/train_data.pkl")

df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Toyota,Camry,2004,4.4,Diesel,Semi-Automatic,137461,4,5,6950
1,Honda,CR-V,2015,4.3,Electric,Semi-Automatic,109966,2,1,12700
2,Chevrolet,Impala,2006,3.0,Electric,Manual,9880,4,5,10702
3,Toyota,RAV4,2023,2.4,Petrol,Semi-Automatic,240972,2,3,8580
4,Volkswagen,Passat,2017,2.7,Diesel,Automatic,167257,4,2,10054

Kich thuoc

In [ ]:
df.shape

(9000, 10)

Ti le missing cac cot

In [ ]:
df.isnull().mean() * 100

Brand           0.0
Model           0.0
Year            0.0
Engine_Size     0.0
Fuel_Type       0.0
Transmission    0.0
Mileage         0.0
Doors           0.0
Owner_Count     0.0
Price           0.0
dtype: float64

Khong xoa cot nao het !

Kich thuoc con lai

In [ ]:
df.shape

(9000, 10)

Y nghia cac cot

| Cot          | Y nghia                 | Don vi | Phan loai |
| ------------ | ----------------------- | ------ | --------- |
| Brand        | Nhan hieu               | none   | Nominal   |
| Model        | Mo hinh xe              | none   | Nominal   |
| Year         | Nam san xuat xe         | none   | Numeric   |
| Engine_Size  | kich thuoc dong co      | lit    | Numeric   |
| Fuel_Type    | Loai nhien lieu su dung | none   | Nominal   |
| Transmission | Loai hop so             | none   | Nominal   |
| Mileage      | Quang duong xe da di    | km     | Numeric   |
| Doors        | So cua xe               | none   | Numeric   |
| Owner_Count  | So nguoi chu cu cua xe  | none   | Numeric   |
| Price        | Gia ban                 | none   | Numeric   |

Doi ten cot

In [ ]:
df.columns

Index(['Brand', 'Model', 'Year', 'Engine_Size', 'Fuel_Type', 'Transmission',
       'Mileage', 'Doors', 'Owner_Count', 'Price'],
      dtype='object')

In [ ]:
rename_dict = {
    "Brand": "Brand_nom",
    "Model": "Model_nom",
    "Year": "Year_num",
    "Engine_Size": "Engine_Size_num",
    "Fuel_Type": "Fuel_Type_nom",
    "Transmission": "Transmission_type_nom",
    "Mileage": "Mileage_num",
    "Doors": "Doors_count_num",
    "Owner_Count": "old_Owner_Count_num",
}


df = df.rename(columns=rename_dict)

df.head()

,Brand_nom,Model_nom,Year_num,Engine_Size_num,Fuel_Type_nom,Transmission_type_nom,Mileage_num,Doors_count_num,old_Owner_Count_num,Price
0,Toyota,Camry,2004,4.4,Diesel,Semi-Automatic,137461,4,5,6950
1,Honda,CR-V,2015,4.3,Electric,Semi-Automatic,109966,2,1,12700
2,Chevrolet,Impala,2006,3.0,Electric,Manual,9880,4,5,10702
3,Toyota,RAV4,2023,2.4,Petrol,Semi-Automatic,240972,2,3,8580
4,Volkswagen,Passat,2017,2.7,Diesel,Automatic,167257,4,2,10054

In [ ]:
df.columns

Index(['Brand_nom', 'Model_nom', 'Year_num', 'Engine_Size_num',
       'Fuel_Type_nom', 'Transmission_type_nom', 'Mileage_num',
       'Doors_count_num', 'old_Owner_Count_num', 'Price'],
      dtype='object')

Y nghia cac cot

| Cot                   | Y nghia                 | Don vi | Phan loai |
| --------------------- | ----------------------- | ------ | --------- |
| Brand_nom             | Nhan hieu               | none   | Nominal   |
| Model_nom             | Mo hinh xe              | none   | Nominal   |
| Year_num              | Nam san xuat xe         | none   | Numeric   |
| Engine_Size_num       | kich thuoc dong co      | lit    | Numeric   |
| Fuel_Type_nom         | Loai nhien lieu su dung | none   | Nominal   |
| Transmission_type_nom | Loai hop so             | none   | Nominal   |
| Mileage_num           | Quang duong xe da di    | km     | Numeric   |
| Doors_count_num       | So cua xe               | none   | Numeric   |
| old_Owner_Count_num   | So nguoi chu cu cua xe  | none   | Numeric   |
| Price                 | Gia ban                 | none   | Numeric   |

Chuyen cac cot numeric, binary, nominal, ordinal, target ve dung vi tri

In [ ]:
df.columns

Index(['Brand_nom', 'Model_nom', 'Year_num', 'Engine_Size_num',
       'Fuel_Type_nom', 'Transmission_type_nom', 'Mileage_num',
       'Doors_count_num', 'old_Owner_Count_num', 'Price'],
      dtype='object')

In [ ]:
cols = pd.Series(df.columns)
numeric_cols = cols[cols.str.endswith("num")].tolist()
binary_cols = cols[cols.str.endswith("bin")].tolist()
nominal_cols = cols[cols.str.endswith("nom")].tolist()
ordinal_cols = cols[cols.str.endswith("ord")].tolist()


target_col = "Price"


df = df[numeric_cols + binary_cols + nominal_cols + ordinal_cols + [target_col]]


df.head()

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num,Brand_nom,Model_nom,Fuel_Type_nom,Transmission_type_nom,Price
0,2004,4.4,137461,4,5,Toyota,Camry,Diesel,Semi-Automatic,6950
1,2015,4.3,109966,2,1,Honda,CR-V,Electric,Semi-Automatic,12700
2,2006,3.0,9880,4,5,Chevrolet,Impala,Electric,Manual,10702
3,2023,2.4,240972,2,3,Toyota,RAV4,Petrol,Semi-Automatic,8580
4,2017,2.7,167257,4,2,Volkswagen,Passat,Diesel,Automatic,10054

Kiem tra kieu du lieu cac cot

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_num               9000 non-null   int64
 1   Engine_Size_num        9000 non-null   float64
 2   Mileage_num            9000 non-null   int64
 3   Doors_count_num        9000 non-null   int64
 4   old_Owner_Count_num    9000 non-null   int64
 5   Brand_nom              9000 non-null   object
 6   Model_nom              9000 non-null   object
 7   Fuel_Type_nom          9000 non-null   object
 8   Transmission_type_nom  9000 non-null   object
 9   Price                  9000 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 703.2+ KB

DUNG

- Year_num
- Engine_Size_num
- Mileage_num
- Doors_count_num
- old_Owner_Count_num
- Price

---

SAI

- Brand_nom
- Model_nom
- Fuel_Type_nom
- Transmission_type_nom

Kiem tra cac cot co kdl = kdlmm + NA

In [ ]:
set(map(type, df["Brand_nom"]))

{str}

In [ ]:
set(map(type, df["Model_nom"]))

{str}

In [ ]:
set(map(type, df["Fuel_Type_nom"]))

{str}

In [ ]:
set(map(type, df["Transmission_type_nom"]))

{str}

Kiem tra noi dung cac cot

Cot numeric

In [ ]:
df[numeric_cols].describe().loc[["min", "max", "mean"]]

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num
min,2000.000000,1.000000,25.000,2.000000,1.000000
max,2023.000000,5.000000,299947.000,5.000000,5.000000
mean,2011.539222,2.999789,149348.213,3.501444,2.991778

Cot binary

In [ ]:
for col in binary_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Cot nominal

In [ ]:
for col in nominal_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Brand_nom -> ['Toyota', 'Honda', 'Chevrolet', 'Volkswagen', 'Ford', 'Kia', 'Hyundai', 'BMW', 'Mercedes', 'Audi']
Model_nom -> ['Camry', 'CR-V', 'Impala', 'RAV4', 'Passat', 'Fiesta', 'Sportage', 'Elantra', '5 Series', '3 Series', 'Equinox', 'Focus', 'Accord', 'E-Class', 'Rio', 'Explorer', 'Sonata', 'Tucson', 'Optima', 'X5', 'A3', 'A4', 'C-Class', 'Q5', 'Malibu', 'GLA', 'Corolla', 'Tiguan', 'Golf', 'Civic']
Fuel_Type_nom -> ['Diesel', 'Electric', 'Petrol', 'Hybrid']
Transmission_type_nom -> ['Semi-Automatic', 'Manual', 'Automatic']

Cot ordinal

In [ ]:
for col in ordinal_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Cot target

In [ ]:
print(f"{target_col} -> {df[target_col].unique().tolist()}")

Price -> [6950, 12700, 10702, 8580, 10054, 7091, 13490, 6827, 8839, 7642, 11848, 11671, 12488, 9831, 8547, 10710, 4970, 9075, 12909, 9723, 12509, 9986, 3554, 5947, 5977, 14202, 8366, 13875, 11316, 8990, 8541, 11372, 13650, 9355, 14519, 3126, 10459, 9643, 5782, 10340, 10186, 7277, 10866, 7275, 11474, 8654, 13849, 12296, 8222, 9704, 11534, 10215, 12972, 4688, 11478, 12447, 2000, 12282, 10121, 5651, 12394, 12056, 8842, 6806, 5328, 10267, 12112, 10423, 10745, 5863, 7456, 8091, 6858, 13663, 10962, 12929, 6868, 8878, 6904, 4659, 5811, 7010, 13435, 11322, 13588, 9839, 10354, 7876, 11357, 7533, 7458, 10623, 8124, 6461, 6724, 8457, 10830, 12020, 9261, 10066, 13962, 10000, 6456, 5461, 13104, 11337, 9612, 6453, 8327, 5503, 6896, 5286, 7491, 12650, 6485, 9693, 7803, 10045, 12616, 2903, 11127, 9412, 6208, 10686, 11799, 9225, 13743, 9435, 7568, 4545, 9618, 4524, 11559, 12777, 6726, 9148, 5594, 5938, 12560, 7060, 9221, 8854, 10609, 7762, 12587, 11759, 2478, 6625, 4759, 8734, 3115, 7911, 6854, 9639, 10580, 11308, 9520, 5588, 15371, 10008, 7616, 11498, 9505, 6620, 6312, 13766, 7369, 8804, 11044, 7559, 5173, 10865, 9557, 9881, 15418, 10360, 9762, 9697, 11243, 8360, 8212, 10285, 11207, 8120, 8937, 3200, 8102, 5320, 8583, 11567, 9000, 6202, 10107, 7380, 8650, 12993, 7645, 6699, 6390, 3072, 3381, 7813, 11496, 9064, 4867, 16544, 8823, 8682, 4689, 7020, 11903, 7186, 12028, 11413, 11184, 12765, 7774, 11426, 3022, 6696, 7944, 8751, 11970, 10032, 7701, 5378, 5917, 7019, 12998, 4302, 9768, 4392, 4505, 9226, 8246, 7566, 5571, 9246, 7711, 9015, 7696, 9240, 8819, 6080, 7731, 9840, 9754, 4425, 7105, 10907, 12518, 7707, 15482, 7459, 7997, 8227, 6249, 12446, 12918, 12880, 8931, 8807, 6111, 11131, 8250, 8206, 11717, 10898, 11557, 9004, 4797, 7637, 8921, 8287, 7364, 10488, 7071, 7312, 5439, 6782, 7174, 9176, 7807, 8927, 10941, 8332, 12196, 10073, 7328, 9058, 3051, 3456, 5854, 6884, 4886, 5368, 9815, 8722, 6018, 12574, 6780, 11666, 5997, 12092, 2981, 8333, 14742, 5095, 12006, 5888, 11190, 13376, 2279, 13287, 9352, 7542, 11924, 10665, 10738, 4297, 6440, 7102, 4865, 9247, 7202, 10801, 14229, 13462, 11633, 7199, 5692, 11541, 5236, 10860, 8646, 11827, 14538, 8624, 9497, 12527, 3899, 12100, 12048, 7971, 15461, 5115, 13990, 5657, 11593, 10320, 11444, 8183, 4933, 8371, 10628, 11252, 12808, 5252, 6797, 4955, 9873, 7784, 10483, 9783, 7297, 14478, 4100, 5447, 3582, 6976, 6727, 11668, 7109, 12622, 6510, 7332, 10538, 6021, 8346, 5128, 9560, 10732, 12011, 9941, 9172, 11295, 13957, 7883, 8738, 7155, 7002, 8977, 11694, 9666, 8959, 13854, 15313, 7742, 6781, 13196, 9820, 6148, 10209, 8901, 7863, 11898, 9007, 5344, 13947, 7818, 13577, 11866, 9413, 7453, 10383, 12945, 10657, 11721, 10134, 10401, 8533, 2780, 4280, 5834, 10986, 8830, 11408, 11237, 9849, 15084, 12368, 8369, 5791, 10666, 12103, 7163, 5117, 10767, 11813, 4454, 7243, 11012, 7354, 10789, 6337, 2940, 8215, 6418, 11847, 12991, 9142, 7620, 11570, 8024, 9891, 9360, 11073, 7853, 6970, 8873, 11768, 9026, 13505, 4851, 9967, 11767, 10420, 6477, 6891, 15172, 9304, 7821, 10722, 9436, 5915, 3213, 10403, 9738, 6851, 9333, 7889, 12357, 15112, 7067, 6037, 11925, 5514, 5280, 9410, 10353, 11636, 9487, 12706, 3537, 7126, 7240, 6920, 7869, 12693, 12676, 12726, 13021, 11627, 8452, 7346, 6538, 13796, 11669, 10318, 7565, 13393, 12298, 9565, 9677, 5459, 12949, 9234, 7338, 9777, 6488, 10810, 9634, 15766, 10465, 11241, 4469, 5283, 8564, 14357, 11981, 10952, 8680, 11686, 8167, 8659, 7292, 14186, 13721, 5857, 3919, 11720, 9189, 5836, 6369, 11224, 5327, 5424, 8039, 10966, 10313, 9239, 9799, 7581, 12107, 4488, 2956, 12144, 13047, 4394, 16235, 2920, 6450, 8478, 7910, 8986, 4791, 4243, 3269, 12173, 11561, 11345, 12714, 13778, 13146, 8114, 10169, 6604, 12216, 5675, 6917, 8434, 8421, 6478, 2974, 6700, 8067, 7636, 11225, 5821, 9945, 4372, 4999, 11875, 11442, 5362, 8086, 10254, 6220, 13439, 13634, 12190, 8596, 9486, 13374, 14829, 6649, 4794, 8572, 5955, 5667, 10299, 10804, 12810, 5208, 8226, 10422, 4760, 14788, 11973, 10183, 9675, 8888, 7258, 6813, 7984, 9061, 10924, 8384, 9167, 12072, 9812, 7154, 8648, 4979, 9374, 7441, 12806, 7384, 5879, 10881, 14327, 6774, 7257, 7610, 11922, 6084, 2637, 11560, 6041, 11659, 8747, 6442, 5035, 7977, 4414, 9963, 9822, 7398, 15191, 7719, 8293, 10688, 11253, 6269, 3878, 5370, 6842, 11784, 9458, 6146, 7360, 9161, 9317, 13038, 2538, 8433, 11116, 11282, 9655, 14196, 11917, 13126, 15378, 9063, 9576, 8504, 7926, 2993, 8618, 6180, 5626, 4742, 10706, 6222, 3108, 8590, 11185, 10905, 13148, 9274, 12590, 10408, 11484, 10327, 10632, 17386, 17719, 10507, 4279, 8311, 7127, 7656, 12280, 9739, 7909, 10376, 8603, 12954, 6140, 3659, 11374, 7143, 14570, 10842, 6909, 2880, 13876, 6552, 9121, 7871, 11306, 8808, 9205, 10432, 10472, 15357, 4159, 8047, 3699, 4084, 9126, 7956, 10104, 7357, 14719, 2721, 9950, 3862, 4064, 8998, 12123, 7714, 6294, 16179, 14344, 7660, 8143, 6823, 10445, 5864, 6019, 8952, 4145, 2947, 10862, 9972, 11043, 9979, 12439, 9392, 7253, 11736, 9109, 4770, 9146, 5974, 4805, 3815, 13020, 6345, 10056, 13861, 6181, 13008, 12692, 12367, 11213, 9501, 5971, 8125, 8620, 11296, 10785, 3684, 4984, 12249, 7668, 7046, 7695, 3974, 4673, 13365, 10085, 10522, 14532, 8696, 10460, 4049, 9203, 10163, 11523, 9674, 6931, 5734, 16630, 6551, 6443, 9527, 9507, 9200, 11710, 7057, 12421, 8077, 8683, 17614, 7854, 11046, 3512, 10838, 6198, 12212, 8063, 6546, 11130, 13926, 9931, 7116, 13877, 6203, 4111, 10090, 12362, 7487, 6688, 10938, 11247, 6983, 4494, 2772, 14424, 4264, 4565, 10023, 11441, 2547, 14081, 11588, 6687, 6092, 14681, 9242, 13951, 9343, 7088, 5939, 9519, 8284, 9508, 11231, 11612, 11910, 11833, 9194, 7855, 8767, 7367, 12841, 5808, 10944, 4144, 13344, 12188, 9208, 13495, 4098, 6877, 6124, 3939, 11115, 15180, 2988, 9472, 12634, 6417, 8402, 10216, 9633, 9833, 8544, 8827, 12761, 7608, 13982, 10414, 12409, 5540, 9599, 6177, 4329, 14167, 11155, 9992, 9923, 16333, 11159, 9271, 8759, 11492, 11192, 13413, 10951, 6153, 10975, 6735, 11212, 12257, 16133, 10271, 11953, 11576, 13298, 7472, 7768, 7763, 11505, 8234, 5325, 6561, 4102, 7075, 9537, 11554, 16334, 12467, 4681, 12839, 6709, 11855, 9721, 9402, 8531, 7503, 10694, 8743, 10713, 7916, 3745, 10634, 9654, 11863, 4207, 4522, 7739, 10689, 13862, 14653, 5409, 9803, 9668, 12926, 5601, 2670, 10162, 15366, 6752, 5354, 5244, 6804, 9243, 10771, 12551, 15217, 6183, 7051, 10395, 9679, 6099, 3782, 6572, 3780, 12687, 6068, 6335, 10458, 9432, 6809, 9729, 8589, 9628, 10822, 12641, 6063, 9125, 12120, 11771, 10323, 8298, 10567, 4768, 7902, 10553, 12343, 10248, 10370, 5923, 11055, 7811, 6536, 2715, 9901, 7840, 11334, 3924, 9327, 6749, 16177, 6936, 8256, 5713, 6205, 11351, 13627, 5086, 11951, 2542, 8342, 11572, 10667, 5511, 11122, 8898, 10999, 9023, 9493, 12959, 7878, 5104, 8703, 5547, 5771, 9478, 11815, 8645, 7767, 8605, 11232, 13402, 5545, 9543, 10416, 6639, 7958, 10102, 10350, 11294, 14954, 8775, 5740, 11463, 9795, 11995, 6686, 11353, 4138, 8702, 16289, 6468, 6102, 7894, 10166, 8221, 8868, 15491, 10402, 4370, 3946, 7931, 7254, 2282, 13717, 5919, 9793, 9514, 8261, 7928, 7758, 5296, 5206, 10659, 11061, 9302, 7309, 12915, 5760, 12667, 14227, 3252, 3983, 13752, 5783, 6246, 9614, 10223, 6695, 9296, 7188, 13027, 13250, 5043, 3776, 12017, 8205, 3175, 10989, 3275, 8069, 12677, 3150, 10955, 11846, 11373, 8012, 10503, 5077, 3972, 10748, 9756, 13274, 9731, 5505, 11546, 4376, 12746, 9552, 6243, 4812, 13493, 12924, 2388, 7389, 10943, 4523, 6899, 9705, 12758, 10926, 6853, 7802, 9111, 13744, 6051, 11563, 11342, 13386, 10631, 14056, 13133, 11998, 7764, 4774, 5225, 9558, 11757, 9469, 4412, 11331, 12901, 10279, 9021, 9991, 9222, 6697, 10909, 11872, 7728, 8010, 5591, 5883, 7168, 9872, 11616, 4077, 5376, 10577, 6606, 14271, 7949, 13193, 6123, 6235, 14101, 12766, 11685, 12269, 3548, 12008, 11148, 3670, 3112, 9889, 13997, 11511, 12289, 5155, 5701, 8241, 6244, 13960, 6499, 13911, 8466, 8380, 8090, 6921, 5650, 10011, 3698, 15761, 12134, 7943, 9103, 15292, 10520, 13818, 8054, 12821, 8508, 12436, 13074, 10431, 9797, 4166, 8322, 7998, 2628, 5001, 5763, 10981, 7592, 6212, 8283, 9110, 10595, 7933, 9678, 15183, 13341, 11401, 7658, 13049, 11825, 3644, 10751, 9393, 8562, 9149, 6403, 8736, 8461, 11086, 3597, 12211, 5072, 7641, 12594, 9275, 7841, 11727, 8785, 4170, 13168, 9669, 2745, 10131, 10295, 12441, 11443, 12735, 8202, 7013, 13379, 11140, 10859, 4135, 10155, 10185, 8203, 9216, 5698, 15181, 10382, 7474, 9388, 6166, 13251, 7325, 11464, 7548, 11501, 11352, 12762, 14503, 6522, 10083, 14879, 8818, 4572, 10660, 12847, 3818, 10693, 9495, 12803, 11112, 11199, 8286, 13212, 10848, 13448, 7546, 12828, 15403, 13983, 11674, 6223, 5592, 12812, 8606, 10173, 6621, 8669, 9181, 7012, 13109, 13144, 15669, 9703, 5471, 8436, 13041, 10735, 7306, 6494, 7514, 7689, 6078, 11084, 7311, 5870, 10231, 11388, 13615, 11992, 7750, 9953, 13701, 2997, 11001, 6347, 7414, 10823, 13416, 9955, 10817, 4603, 6914, 4520, 3975, 11244, 6424, 10259, 9129, 12967, 3539, 3709, 8354, 10773, 7209, 9550, 7628, 5529, 11149, 5276, 9138, 7819, 6100, 12386, 14737, 6384, 4426, 6825, 2951, 5970, 5950, 13840, 5806, 8414, 9573, 14678, 12474, 12869, 8602, 10171, 9621, 11379, 8306, 5630, 11994, 14816, 8548, 9257, 3984, 3209, 12108, 5120, 4307, 9408, 10444, 7302, 9273, 14941, 14969, 10233, 9583, 8204, 9569, 16047, 14923, 14905, 12007, 8245, 13974, 3479, 7203, 9323, 3391, 12218, 3827, 8088, 12276, 8514, 5374, 9107, 7996, 5087, 4390, 6000, 4682, 13503, 7164, 9850, 9463, 6368, 3427, 9847, 7625, 9449, 11952, 12136, 9922, 15026, 10039, 5946, 14696, 7710, 10712, 12709, 7434, 2704, 5582, 16340, 10068, 10086, 3075, 8420, 12365, 5401, 11618, 5489, 4301, 8782, 11227, 8708, 6185, 10451, 10626, 15609, 7318, 8045, 3384, 12248, 11383, 7098, 11884, 6143, 6652, 8609, 9154, 8709, 7657, 12149, 8490, 12906, 3453, 7847, 5670, 11959, 16037, 11416, 9115, 13422, 7279, 8162, 2626, 8832, 10303, 13470, 9217, 9279, 6662, 6682, 6534, 11834, 12637, 11844, 16358, 12334, 9874, 10637, 5490, 9811, 5113, 7113, 9362, 10510, 8665, 6675, 8065, 5388, 11849, 6634, 14507, 9204, 7028, 8497, 3396, 5818, 9069, 5920, 10050, 3310, 8914, 13956, 5567, 6844, 12878, 5817, 14635, 10953, 5330, 9237, 8690, 8758, 10325, 14427, 5789, 12161, 14383, 4053, 6164, 8257, 10565, 4726, 9093, 6400, 7235, 6216, 9500, 5711, 13936, 2563, 6836, 9534, 4948, 2505, 10101, 9672, 13496, 8288, 11750, 16500, 12965, 8634, 4734, 5543, 15757, 12876, 16601, 9510, 2557, 12546, 10677, 8772, 11840, 8849, 14555, 7147, 6676, 8803, 11788, 11653, 9809, 5580, 7643, 12071, 7317, 11852, 10441, 8479, 6587, 9289, 10914, 6657, 3263, 13085, 11135, 10998, 4855, 3970, 11578, 4270, 14429, 7378, 11059, 9403, 7761, 2876, 10264, 14034, 5345, 3449, 9925, 6493, 11036, 6977, 12754, 10361, 7193, 8336, 10380, 7084, 9656, 10358, 7089, 5445, 14138, 11708, 11600, 9975, 11029, 7134, 7418, 14054, 5816, 11748, 5940, 13407, 8213, 6393, 8829, 9983, 8450, 8705, 10550, 10496, 4331, 4541, 7865, 9321, 11699, 6756, 9262, 7765, 4480, 7899, 9682, 12091, 7588, 7408, 13378, 7866, 5137, 6956, 5281, 12131, 5893, 5598, 9780, 15571, 8813, 10344, 12198, 9635, 9169, 12871, 9236, 5384, 5599, 6927, 7679, 12068, 14491, 10357, 5290, 11882, 12275, 13591, 9498, 5479, 8824, 4904, 8152, 11493, 6876, 8037, 11701, 9805, 11556, 10610, 10556, 13921, 7789, 10691, 7008, 9841, 14109, 9341, 9253, 6885, 8140, 14301, 6176, 12213, 2068, 6666, 4730, 5411, 10246, 8352, 7366, 8993, 9163, 9254, 12642, 8087, 6937, 4385, 10213, 11467, 8679, 11156, 8916, 11936, 7282, 11614, 10434, 6310, 12702, 5850, 5613, 7329, 8368, 10728, 8103, 9714, 4796, 10456, 13414, 9264, 11886, 12013, 11121, 10482, 7989, 10238, 8299, 8608, 8066, 6012, 8491, 15463, 9046, 12413, 9387, 8833, 10799, 11568, 9802, 4624, 11079, 14305, 9898, 10338, 5491, 10078, 7830, 7825, 13513, 9559, 7092, 11608, 13754, 10589, 13624, 12968, 13326, 8674, 5191, 13487, 13453, 8985, 6240, 8329, 9553, 7439, 8220, 6795, 11888, 8729, 10747, 4214, 4060, 7440, 11684, 6059, 10679, 5980, 8093, 7621, 2444, 10274, 3860, 7027, 10047, 8231, 12398, 9377, 3063, 14318, 4542, 10993, 7730, 11141, 7248, 9450, 6734, 10012, 11965, 12713, 8443, 6190, 12575, 11531, 3290, 7683, 3792, 5263, 13138, 10730, 8534, 9615, 12531, 7402, 11289, 10978, 15238, 11210, 14765, 6254, 8223, 12004, 12026, 7110, 3392, 13118, 9280, 11170, 8741, 5111, 9517, 12170, 11838, 10365, 14516, 8001, 5961, 12995, 7506, 12083, 10954, 5109, 6437, 12910, 6293, 4501, 5729, 8030, 4403, 5549, 3415, 10974, 6466, 12818, 7584, 11063, 7485, 9813, 12755, 11574, 16496, 3606, 10540, 9787, 10064, 9233, 15257, 14017, 14263, 13171, 5985, 13081, 3096, 8755, 5869, 6483, 10057, 4939, 8285, 12113, 4680, 15089, 6229, 14739, 7528, 9084, 11520, 12397, 5306, 7833, 9572, 6846, 4789, 12486, 7577, 8273, 10197, 12928, 14709, 8425, 12148, 6772, 5444, 11789, 5468, 7633, 2937, 9790, 9041, 2621, 9995, 6952, 16165, 8251, 12932, 11250, 11162, 8098, 5237, 6073, 4956, 11602, 5826, 6954, 4423, 15753, 7000, 6792, 7999, 4640, 13303, 3501, 5579, 7790, 4343, 8658, 2888, 8396, 6526, 2061, 13420, 4225, 5085, 4266, 8672, 7331, 10266, 11765, 10708, 7305, 2459, 11682, 9080, 10921, 6008, 6933, 8903, 10698, 8141, 10551, 11915, 4267, 7722, 4718, 9210, 10239, 5217, 10097, 7773, 9456, 11311, 12736, 7857, 3544, 11901, 14794, 6114, 10814, 9718, 11313, 11931, 10900, 8275, 3198, 9438, 11206, 7289, 7545, 6374, 6549, 7766, 10734, 11842, 13477, 6152, 8295, 8170, 12304, 7925, 12261, 9123, 6988, 8473, 12811, 2464, 5049, 5646, 6671, 7648, 2800, 13201, 10778, 3219, 12480, 3546, 10643, 2964, 10489, 6972, 3466, 8632, 13127, 12905, 9376, 8929, 11517, 6683, 7438, 8483, 11033, 6445, 10324, 10034, 2625, 8576, 10206, 10409, 11054, 13032, 8217, 4549, 14413, 7270, 5671, 2822, 12322, 10334, 7644, 12055, 5968, 13087, 12340, 5419, 8573, 8439, 7736, 6333, 8186, 4258, 7178, 8973, 5983, 3194, 12239, 9875, 12445, 11173, 11583, 3599, 10857, 12253, 10533, 9730, 11657, 12733, 10590, 14309, 3046, 6314, 10684, 8355, 8992, 9796, 13264, 10791, 5497, 5753, 8885, 8791, 13799, 8381, 11641, 5288, 8316, 4963, 5862, 13455, 7682, 6128, 7137, 13277, 8884, 7738, 11735, 14634, 8397, 11742, 10062, 15739, 5356, 9231, 3014, 8099, 5693, 9586, 6710, 10885, 7499, 2752, 14358, 4586, 6327, 11779, 8958, 11867, 11398, 10262, 5492, 12176, 10670, 4533, 13887, 11187, 13427, 8492, 4013, 12615, 9068, 8192, 8064, 11832, 12339, 10516, 14420, 5827, 13359, 7226, 11261, 4192, 5764, 9347, 7262, 6342, 5063, 2150, 2454, 5436, 4008, 8038, 10201, 7497, 11658, 7363, 2341, 7146, 3955, 13247, 9896, 14644, 10923, 11874, 13094, 10277, 9143, 3156, 4567, 9135, 9407, 12101, 11109, 4253, 10469, 11291, 6737, 9531, 9877, 10128, 5400, 3186, 15273, 12612, 10599, 9816, 4353, 11703, 6841, 8084, 7517, 12085, 3189, 11550, 5381, 11790, 16383, 9807, 11707, 2556, 4763, 7951, 6132, 9351, 3771, 11016, 5234, 4974, 11592, 3254, 7510, 5395, 11385, 15170, 7021, 14851, 12911, 12294, 9864, 8401, 9627, 11257, 7241, 11551, 4208, 9728, 10922, 8185, 15367, 6085, 5421, 9335, 13300, 12815, 11147, 16969, 7603, 10663, 7615, 8720, 9657, 8216, 6558, 10837, 6122, 5807, 5183, 12698, 9597, 2798, 2682, 7446, 7516, 11781, 8200, 8418, 8271, 7580, 10968, 4486, 9957, 6050, 9106, 4252, 10397, 10010, 10697, 6831, 6708, 10251, 7732, 7717, 12142, 9886, 12813, 6754, 9608, 5037, 14720, 9047, 7435, 5107, 6939, 2485, 10899, 11037, 5000, 10025, 8225, 3791, 9843, 8040, 4052, 7735, 6237, 5090, 11382, 10868, 13231, 13508, 7034, 4380, 15768, 4200, 10110, 10593, 11499, 6660, 4174, 6902, 5536, 7992, 13096, 11105, 10391, 4348, 5887, 5462, 14620, 9482, 11942, 6958, 13878, 12114, 11258, 11801, 5394, 8694, 5110, 8032, 11128, 13268, 10509, 10326, 5274, 10611, 3796, 4482, 15466, 12979, 9032, 7229, 5309, 12948, 8131, 10546, 3559, 9640, 13780, 6673, 9526, 7982, 12731, 7175, 4506, 3913, 11286, 5423, 5433, 6812, 8904, 9186, 8912, 5875, 3018, 6409, 4259, 6065, 4442, 4186, 8678, 5165, 10082, 7953, 13165, 7026, 13749, 11494, 13343, 13360, 8357, 5435, 3586, 7793, 10018, 11161, 8938, 7039, 10184, 12399, 12556, 10758, 7716, 2725, 8684, 8016, 4649, 15321, 3515, 7814, 13961, 7912, 4355, 8135, 4806, 12952, 7563, 8571, 11820, 9049, 7567, 12231, 6784, 8639, 12718, 11251, 7268, 8771, 10932, 6364, 8717, 10617, 17899, 6815, 10873, 9308, 7135, 10368, 3028, 10883, 2300, 8015, 8424, 7437, 10203, 14628, 5265, 10366, 4862, 13851, 3082, 10958, 9401, 5340, 9188, 10739, 10480, 7185, 7619, 5992, 6762, 5386, 13141, 6963, 12140, 2500, 11923, 10374, 12411, 11606, 15662, 12404, 11163, 3660, 6167, 7069, 9128, 10205, 8136, 5251, 11809, 13981, 6492, 11737, 16143, 14665, 10555, 5871, 7321, 6348, 8594, 9735, 11961, 4811, 4248, 3245, 8529, 15256, 10645, 5078, 5868, 8971, 7627, 6947, 9481, 3853, 5912, 9152, 6313, 4968, 8765, 4286, 10036, 11824, 5628, 4996, 5889, 4783, 10202, 6475, 6562, 8595, 13107, 3039, 11914, 8447, 9083, 4869, 9899, 4599, 8685, 13215, 5058, 11933, 8000, 12074, 5228, 3336, 13194, 6953, 4472, 10044, 12498, 11249, 5066, 2810, 8036, 9249, 12769, 7009, 7667, 7553, 10526, 8031, 13229, 8577, 7900, 7320, 8713, 8739, 3077, 12620, 5910, 12767, 10076, 9250, 5557, 8629, 5387, 10897, 8660, 15196, 5987, 7835, 8303, 8427, 6648, 10059, 11120, 7741, 8581, 9670, 8168, 2681, 9428, 12519, 6871, 9437, 9713, 8048, 4511, 6863, 2696, 9724, 6317, 12152, 5643, 7572, 8312, 12690, 9325, 13293, 12505, 6473, 3091, 10988, 7905, 10783, 7115, 3673, 7914, 10463, 7470, 6179, 17134, 12503, 9082, 9499, 8579, 8078, 8033, 6627, 4737, 12985, 4752, 13474, 9652, 6653, 5226, 14024, 11008, 14874, 7942, 13995, 8211, 8615, 2239, 2803, 9817, 8474, 9585, 15528, 6435, 10756, 2429, 10794, 7333, 11828, 3662, 13369, 14456, 8218, 6588, 3452, 11725, 10181, 9150, 12584, 9443, 12315, 6728, 5341, 10721, 8150, 6113, 8208, 4732, 9755, 8627, 9856, 5717, 8711, 3632, 13879, 9299, 2443, 11565, 6913, 12258, 10933, 11287, 6881, 13515, 7858, 5108, 6630, 4728, 12279, 4137, 6805, 7158, 14078, 13984, 14146, 9605, 10194, 8149, 8020, 7733, 12679, 4793, 3636, 11223, 7083, 9108, 9475, 6644, 2788, 9028, 13355, 9017, 9936, 8113, 9430, 9363, 5539, 14462, 9712, 8112, 11399, 9484, 11194, 9887, 7845, 4391, 3678, 8552, 9834, 7901, 5770, 14498, 2379, 11003, 13568, 9942, 5139, 6996, 13442, 6810, 12686, 6217, 6609, 6704, 5494, 9594, 14716, 10640, 9871, 9267, 8535, 8214, 13392, 8557, 13930, 3001, 4803, 11081, 11245, 8948, 15733, 5766, 15122, 9960, 15508, 6433, 9664, 11843, 10143, 8924, 5963, 7676, 3306, 14588, 7090, 10987, 3623, 5758, 6505, 7934, 6830, 4554, 4613, 8841, 11537, 11157, 10329, 8607, 13156, 9190, 10530, 12496, 8359, 12419, 13209, 10671, 3519, 6703, 10656, 7486, 5246, 7307, 7215, 10446, 5930, 7725, 7156, 8370, 7654, 4263, 5944, 10450, 10454, 11566, 10218, 5415, 7745, 8779, 6020, 13486, 5533, 9798, 5780, 10276, 3787, 11584, 16705, 8778, 10695, 10237, 9030, 12603, 11393, 2958, 2707, 8458, 6284, 6631, 7704, 13245, 4654, 9214, 10965, 8861, 5831, 9156, 8364, 11436, 15018, 10994, 8511, 14240, 8244, 5965, 12606, 9416, 7128, 6479, 7330, 2089, 8229, 10563, 14158, 2785, 9283, 10061, 9698, 14103, 10928, 10153, 12378, 9319, 10845, 4606, 13002, 6738, 5876, 7445, 11564, 9297, 2387, 8292, 11280, 9180, 6302, 9702, 13259, 9406, 11113, 9144, 13111, 6375, 10705, 7298, 13888, 8560, 3714, 15224, 5942, 3566, 11390, 8774, 10154, 13366, 14391, 3270, 12331, 8591, 10612, 3596, 8181, 7161, 8593, 10524, 8034, 11589, 10548, 4262, 13233, 7831, 5637, 4323, 8428, 12649, 6707, 8816, 11890, 6628, 15653, 12256, 3563, 5027, 5647, 12354, 8230, 17311, 13329, 6118, 12976, 7522, 2007, 8630, 9958, 6054, 14049, 7095, 3535, 7534, 7148, 5685, 12124, 10065, 10675, 3472, 9460, 10405, 9644, 5565, 2129, 2099, 5397, 5520, 4922, 10100, 12621, 8109, 10539, 9592, 11019, 5506, 7228, 13998, 10622, 9445, 10013, 9038, 8061, 7189, 13406, 5779, 15530, 12981, 3959, 14830, 12217, 11067, 12763, 2233, 11634, 14178, 11060, 5986, 12223, 13996, 2437, 2104, 7001, 2967, 9340, 8656, 8022, 10312, 12125, 13130, 5152, 7023, 8049, 9024, 4753, 7123, 13872, 6857, 12284, 12863, 10095, 6354, 9997, 12412, 2483, 5903, 8554, 3749, 3617, 13364, 7605, 8274, 7214, 4473, 6088, 6590, 10342, 9124, 13181, 9373, 6866, 8935, 10636, 11177, 8569, 11949, 10159, 11303, 11080, 7107, 7250, 10518, 11260, 4987, 5011, 13461, 7747, 6077, 9183, 12179, 11274, 3441, 11785, 3354, 6974, 8374, 8864, 9465, 9976, 8173, 6859

Fill missing value

In [ ]:
cat_cols = binary_cols + nominal_cols + ordinal_cols + [target_col]

preprocessor = ColumnTransformer(
    transformers=[
        ("num", SimpleImputer(strategy="mean"), numeric_cols),
        ("cat", SimpleImputer(strategy="most_frequent"), cat_cols),
    ]
)

df_filled = preprocessor.fit_transform(df)
df_filled = pd.DataFrame(df_filled, columns=numeric_cols + cat_cols)

# Luu preprocessor lai
folder = "../artifacts/data_correction"
os.makedirs(folder, exist_ok=True)
myfuncs.save_python_object(
    file_path=os.path.join(folder, "missing_value_handler.pkl"), obj=preprocessor
)

df_filled.head()

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num,Brand_nom,Model_nom,Fuel_Type_nom,Transmission_type_nom,Price
0,2004.0,4.4,137461.0,4.0,5.0,Toyota,Camry,Diesel,Semi-Automatic,6950
1,2015.0,4.3,109966.0,2.0,1.0,Honda,CR-V,Electric,Semi-Automatic,12700
2,2006.0,3.0,9880.0,4.0,5.0,Chevrolet,Impala,Electric,Manual,10702
3,2023.0,2.4,240972.0,2.0,3.0,Toyota,RAV4,Petrol,Semi-Automatic,8580
4,2017.0,2.7,167257.0,4.0,2.0,Volkswagen,Passat,Diesel,Automatic,10054

Chuyen doi ve dung kieu du lieu

Kiem tra cac gia tri cua cot binary

In [ ]:
for col in binary_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Chuyen cac cot binary ve so

In [ ]:
df_filled[binary_cols] = df_filled[binary_cols].replace(
    {
        "Yes": 1,
        "No": 0,
    }
)

In [ ]:
df_filled[numeric_cols + binary_cols] = df_filled[numeric_cols + binary_cols].astype(
    "float"
)


df_filled[nominal_cols + ordinal_cols] = df_filled[nominal_cols + ordinal_cols].astype(
    "category"
)

df_filled[target_col] = df_filled[target_col].astype("float")

df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_num               9000 non-null   float64
 1   Engine_Size_num        9000 non-null   float64
 2   Mileage_num            9000 non-null   float64
 3   Doors_count_num        9000 non-null   float64
 4   old_Owner_Count_num    9000 non-null   float64
 5   Brand_nom              9000 non-null   category
 6   Model_nom              9000 non-null   category
 7   Fuel_Type_nom          9000 non-null   category
 8   Transmission_type_nom  9000 non-null   category
 9   Price                  9000 non-null   float64
dtypes: category(4), float64(6)
memory usage: 459.1 KB

Thay doi thu tu cac label cho cac cot ordinal

In [ ]:
ord_values_dict = {
    "Physical_Activity_Level_ord": ["Low", "Medium", "High"],
    "Smoking_Status_level_ord": ["Never", "Former", "Current"],
    "Alcohol_Consumption_Level_ord": ["Never", "Occasionally", "Regularly"],
    "Cholesterol_Level_ord": ["Normal", "High"],
    "Depression_Level_ord": ["Low", "Medium", "High"],
    "Sleep_Quality_Level_ord": ["Poor", "Average", "Good"],
    "Diet_level_ord": ["Unhealthy", "Average", "Healthy"],
    "Air_Pollution_Exposure_level_ord": ["Low", "Medium", "High"],
    "Social_Engagement_Level_ord": ["Low", "Medium", "High"],
    "Income_Level_ord": ["Low", "Medium", "High"],
    "Stress_Levels_ord": ["Low", "Medium", "High"],
}

ordinal_cols_series = pd.Series(df_filled.columns)
ordinal_cols_series = ordinal_cols_series[
    ordinal_cols_series.str.endswith("ord")
].tolist()


for col in ordinal_cols_series:
    df_filled[col] = df_filled[col].cat.reorder_categories(
        ord_values_dict[col], ordered=True
    )

Check duplicates

In [ ]:
any(df_filled.duplicated())

False

Khong co duplicates

In [ ]:
df_filled.shape

(9000, 10)

Chia thanh tap train va tap val

In [ ]:
df_train, df_val = train_test_split(df_filled, test_size=0.1, random_state=42)

myfuncs.save_python_object(os.path.join(folder, "train_data.pkl"), df_train)
myfuncs.save_python_object(os.path.join(folder, "val_data.pkl"), df_val)