In [ ]:
import os


os.chdir("../")


os.getcwd()

'd:\\DA_workspace\\car_price_prediction\\src'

In [ ]:
import pandas as pd
import numpy as np
from regressor.Mylib import myfuncs
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split

Doc du lieu

In [ ]:
df = myfuncs.load_python_object("../artifacts/data_ingestion/test_data.pkl")

df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,BMW,3 Series,2005,1.2,Diesel,Manual,257760,5,5,2000
1,Volkswagen,Golf,2013,2.9,Hybrid,Automatic,111790,5,3,11164
2,Toyota,RAV4,2011,5.0,Hybrid,Automatic,13473,5,4,14630
3,Mercedes,E-Class,2007,3.8,Diesel,Manual,133298,4,5,7334
4,Honda,Civic,2012,1.3,Petrol,Automatic,18611,3,5,10127

Kich thuoc

In [ ]:
df.shape

(1000, 10)

Ti le missing cac cot

In [ ]:
df.isnull().mean() * 100

Brand           0.0
Model           0.0
Year            0.0
Engine_Size     0.0
Fuel_Type       0.0
Transmission    0.0
Mileage         0.0
Doors           0.0
Owner_Count     0.0
Price           0.0
dtype: float64

Khong xoa cot nao het !

Kich thuoc con lai

In [ ]:
df.shape

(1000, 10)

Y nghia cac cot

| Cot          | Y nghia                 | Don vi | Phan loai |
| ------------ | ----------------------- | ------ | --------- |
| Brand        | Nhan hieu               | none   | Nominal   |
| Model        | Mo hinh xe              | none   | Nominal   |
| Year         | Nam san xuat xe         | none   | Numeric   |
| Engine_Size  | kich thuoc dong co      | lit    | Numeric   |
| Fuel_Type    | Loai nhien lieu su dung | none   | Nominal   |
| Transmission | Loai hop so             | none   | Nominal   |
| Mileage      | Quang duong xe da di    | km     | Numeric   |
| Doors        | So cua xe               | none   | Numeric   |
| Owner_Count  | So nguoi chu cu cua xe  | none   | Numeric   |
| Price        | Gia ban                 | none   | Numeric   |

Doi ten cot

In [ ]:
df.columns

Index(['Brand', 'Model', 'Year', 'Engine_Size', 'Fuel_Type', 'Transmission',
       'Mileage', 'Doors', 'Owner_Count', 'Price'],
      dtype='object')

In [ ]:
rename_dict = {
    "Brand": "Brand_nom",
    "Model": "Model_nom",
    "Year": "Year_num",
    "Engine_Size": "Engine_Size_num",
    "Fuel_Type": "Fuel_Type_nom",
    "Transmission": "Transmission_type_nom",
    "Mileage": "Mileage_num",
    "Doors": "Doors_count_num",
    "Owner_Count": "old_Owner_Count_num",
}


df = df.rename(columns=rename_dict)

df.head()

,Brand_nom,Model_nom,Year_num,Engine_Size_num,Fuel_Type_nom,Transmission_type_nom,Mileage_num,Doors_count_num,old_Owner_Count_num,Price
0,BMW,3 Series,2005,1.2,Diesel,Manual,257760,5,5,2000
1,Volkswagen,Golf,2013,2.9,Hybrid,Automatic,111790,5,3,11164
2,Toyota,RAV4,2011,5.0,Hybrid,Automatic,13473,5,4,14630
3,Mercedes,E-Class,2007,3.8,Diesel,Manual,133298,4,5,7334
4,Honda,Civic,2012,1.3,Petrol,Automatic,18611,3,5,10127

In [ ]:
df.columns

Index(['Brand_nom', 'Model_nom', 'Year_num', 'Engine_Size_num',
       'Fuel_Type_nom', 'Transmission_type_nom', 'Mileage_num',
       'Doors_count_num', 'old_Owner_Count_num', 'Price'],
      dtype='object')

Y nghia cac cot

| Cot                   | Y nghia                 | Don vi | Phan loai |
| --------------------- | ----------------------- | ------ | --------- |
| Brand_nom             | Nhan hieu               | none   | Nominal   |
| Model_nom             | Mo hinh xe              | none   | Nominal   |
| Year_num              | Nam san xuat xe         | none   | Numeric   |
| Engine_Size_num       | kich thuoc dong co      | lit    | Numeric   |
| Fuel_Type_nom         | Loai nhien lieu su dung | none   | Nominal   |
| Transmission_type_nom | Loai hop so             | none   | Nominal   |
| Mileage_num           | Quang duong xe da di    | km     | Numeric   |
| Doors_count_num       | So cua xe               | none   | Numeric   |
| old_Owner_Count_num   | So nguoi chu cu cua xe  | none   | Numeric   |
| Price                 | Gia ban                 | none   | Numeric   |

Chuyen cac cot numeric, binary, nominal, ordinal, target ve dung vi tri

In [ ]:
df.columns

Index(['Brand_nom', 'Model_nom', 'Year_num', 'Engine_Size_num',
       'Fuel_Type_nom', 'Transmission_type_nom', 'Mileage_num',
       'Doors_count_num', 'old_Owner_Count_num', 'Price'],
      dtype='object')

In [ ]:
cols = pd.Series(df.columns)
numeric_cols = cols[cols.str.endswith("num") | cols.str.endswith("bin")].tolist()
binary_cols = cols[cols.str.endswith("bin")].tolist()
nominal_cols = cols[cols.str.endswith("nom")].tolist()
ordinal_cols = cols[cols.str.endswith("ord")].tolist()


target_col = "Price"


df = df[numeric_cols + binary_cols + nominal_cols + ordinal_cols + [target_col]]


df.head()

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num,Brand_nom,Model_nom,Fuel_Type_nom,Transmission_type_nom,Price
0,2005,1.2,257760,5,5,BMW,3 Series,Diesel,Manual,2000
1,2013,2.9,111790,5,3,Volkswagen,Golf,Hybrid,Automatic,11164
2,2011,5.0,13473,5,4,Toyota,RAV4,Hybrid,Automatic,14630
3,2007,3.8,133298,4,5,Mercedes,E-Class,Diesel,Manual,7334
4,2012,1.3,18611,3,5,Honda,Civic,Petrol,Automatic,10127

Kiem tra kieu du lieu cac cot

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_num               1000 non-null   int64
 1   Engine_Size_num        1000 non-null   float64
 2   Mileage_num            1000 non-null   int64
 3   Doors_count_num        1000 non-null   int64
 4   old_Owner_Count_num    1000 non-null   int64
 5   Brand_nom              1000 non-null   object
 6   Model_nom              1000 non-null   object
 7   Fuel_Type_nom          1000 non-null   object
 8   Transmission_type_nom  1000 non-null   object
 9   Price                  1000 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 78.2+ KB

DUNG

- Year_num
- Engine_Size_num
- Mileage_num
- Doors_count_num
- old_Owner_Count_num
- Price

---

SAI

- Brand_nom
- Model_nom
- Fuel_Type_nom
- Transmission_type_nom

Kiem tra cac cot co kdl = kdlmm + NA

In [ ]:
set(map(type, df["Brand_nom"]))

{str}

In [ ]:
set(map(type, df["Model_nom"]))

{str}

In [ ]:
set(map(type, df["Fuel_Type_nom"]))

{str}

In [ ]:
set(map(type, df["Transmission_type_nom"]))

{str}

Kiem tra noi dung cac cot

Cot numeric

In [ ]:
df[numeric_cols].describe().loc[["min", "max", "mean"]]

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num
min,2000.000,1.0000,88.000,2.000,1.000
max,2023.000,5.0000,299872.000,5.000,5.000
mean,2011.584,3.0075,148257.201,3.458,2.985

Cot binary

In [ ]:
for col in binary_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Cot nominal

In [ ]:
for col in nominal_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Brand_nom -> ['BMW', 'Volkswagen', 'Toyota', 'Mercedes', 'Honda', 'Kia', 'Chevrolet', 'Audi', 'Hyundai', 'Ford']
Model_nom -> ['3 Series', 'Golf', 'RAV4', 'E-Class', 'Civic', 'GLA', '5 Series', 'Optima', 'CR-V', 'Impala', 'C-Class', 'A3', 'Q5', 'Tiguan', 'Accord', 'Malibu', 'Rio', 'Elantra', 'Sonata', 'Fiesta', 'Tucson', 'Focus', 'Corolla', 'Equinox', 'A4', 'X5', 'Explorer', 'Camry', 'Passat', 'Sportage']
Fuel_Type_nom -> ['Diesel', 'Hybrid', 'Petrol', 'Electric']
Transmission_type_nom -> ['Manual', 'Automatic', 'Semi-Automatic']

Cot ordinal

In [ ]:
for col in ordinal_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Cot target

In [ ]:
print(f"{target_col} -> {df[target_col].unique().tolist()}")

Price -> [2000, 11164, 14630, 7334, 10127, 7195, 8292, 6229, 5776, 4979, 12507, 9367, 15929, 9059, 7984, 4739, 13674, 11867, 7779, 4090, 11599, 6282, 8217, 9757, 14988, 4845, 11706, 3444, 6172, 12843, 13586, 4800, 8721, 10514, 11759, 13101, 12258, 3176, 9005, 7014, 8374, 9728, 6150, 6103, 5008, 4411, 10570, 13017, 6291, 11725, 14567, 10185, 8989, 7378, 5756, 8289, 8315, 5864, 9911, 5432, 5485, 8878, 9525, 6079, 11156, 7735, 11836, 4912, 10752, 7430, 2502, 5512, 14431, 5887, 11411, 6214, 5714, 12834, 3786, 8717, 3844, 7960, 2798, 12031, 8476, 10818, 7183, 7843, 12764, 11838, 8059, 8101, 11293, 5970, 7376, 9403, 10044, 5651, 7830, 10559, 9976, 3454, 10360, 10950, 10410, 5066, 9184, 8630, 5543, 12717, 5183, 4728, 13272, 12037, 9885, 9792, 3856, 11988, 7990, 5332, 7878, 10026, 11188, 10779, 8088, 10035, 7048, 8628, 8966, 5112, 11714, 10862, 5565, 5946, 11454, 7552, 12138, 4247, 7464, 8703, 11748, 11696, 6672, 11374, 4730, 10503, 14484, 11967, 11506, 13587, 6461, 10546, 5221, 2997, 11571, 10232, 11279, 3661, 9963, 11023, 11321, 7001, 9662, 11075, 11927, 11742, 6467, 8641, 13503, 6988, 3324, 7882, 14001, 10398, 12124, 10334, 13943, 2844, 6089, 6482, 12099, 11723, 9418, 10911, 9365, 9975, 9490, 10403, 8649, 11190, 6737, 2984, 7621, 8591, 14233, 15682, 10682, 7911, 14268, 9656, 7633, 5381, 9558, 12149, 13261, 9007, 5940, 17078, 11544, 8166, 8841, 11332, 8352, 3929, 9997, 9292, 7033, 3291, 7316, 13901, 15962, 3187, 5901, 3778, 10612, 13483, 7964, 6212, 3966, 6216, 10966, 5249, 8272, 10308, 9676, 9143, 8173, 6048, 11638, 4478, 8625, 13517, 11539, 3306, 4190, 11027, 7827, 3975, 2471, 9234, 7824, 12231, 12767, 10270, 10064, 9445, 12537, 10242, 10846, 12036, 8620, 8840, 8403, 7962, 6058, 13113, 7761, 6290, 8748, 8061, 9658, 9868, 7636, 6750, 10115, 6076, 2123, 5189, 17630, 12658, 8706, 9655, 10623, 9200, 12802, 4369, 7291, 12343, 10087, 9450, 14486, 6600, 10564, 12840, 5986, 9783, 8578, 10209, 14433, 10772, 7665, 12666, 9814, 9666, 15888, 13574, 8936, 9127, 12018, 7612, 8883, 9986, 12941, 9288, 6389, 11677, 2601, 9376, 11196, 11017, 9619, 3742, 8254, 8866, 4040, 7188, 9721, 8662, 8241, 7010, 7937, 6660, 4172, 12513, 4303, 4642, 8728, 10735, 10765, 12440, 9764, 8205, 9502, 7581, 4902, 5685, 5535, 9529, 9944, 10535, 7803, 8130, 3846, 4612, 11557, 10903, 8135, 7666, 10572, 6347, 11372, 10593, 9641, 14314, 6074, 10798, 8246, 8299, 12196, 6420, 6545, 11248, 9706, 9219, 13449, 9257, 6747, 10201, 12667, 10214, 8209, 13792, 10166, 9931, 9498, 10157, 12855, 11536, 9896, 6419, 5584, 8444, 5981, 8777, 14758, 8182, 9901, 9562, 13724, 13170, 11312, 5899, 8739, 8747, 9052, 12350, 3884, 9014, 2339, 5430, 10867, 4398, 11681, 5780, 13920, 10447, 9289, 10086, 6313, 11135, 10683, 5704, 3889, 8772, 7280, 6175, 10129, 12304, 6183, 4585, 9307, 9177, 14791, 6960, 14154, 2797, 11048, 9576, 7678, 13610, 8853, 4729, 3782, 5494, 10131, 8671, 14501, 11578, 8970, 7260, 4374, 13468, 7221, 8437, 8547, 6874, 8738, 5913, 7629, 6465, 7162, 6777, 13086, 8545, 10569, 8038, 17054, 7204, 7725, 8597, 11780, 6311, 8851, 14514, 9097, 11782, 9070, 4498, 11064, 10289, 5747, 6665, 5898, 11416, 2383, 10933, 13132, 9968, 6105, 6819, 9553, 8688, 9064, 14564, 12995, 9671, 8127, 11106, 9311, 13123, 6133, 7110, 5244, 9188, 12460, 10221, 11515, 8727, 11427, 12408, 3191, 7938, 7740, 8490, 13428, 3904, 9271, 13134, 15990, 6405, 11513, 9075, 5425, 11208, 10373, 4663, 10269, 5328, 7505, 6680, 8958, 10008, 12341, 10247, 10168, 10390, 7230, 9221, 6896, 12669, 9874, 8113, 16492, 9859, 7054, 3914, 7985, 8952, 10423, 13068, 10119, 7557, 14312, 3847, 6758, 6661, 9255, 9373, 7601, 10832, 13997, 7635, 8991, 10078, 9545, 10504, 8064, 7817, 5417, 5590, 3322, 4764, 13481, 9955, 10513, 9779, 8419, 10643, 12645, 8501, 7337, 14938, 8638, 12519, 4245, 4099, 9269, 12033, 11403, 2449, 12363, 9032, 4069, 7402, 12156, 10402, 16105, 7088, 13407, 7113, 7680, 9129, 9810, 7550, 10022, 11299, 15462, 4196, 5862, 7936, 5642, 4827, 10921, 7477, 8070, 8463, 8920, 5098, 9477, 11773, 14499, 11091, 11104, 8224, 8339, 8261, 8126, 5672, 10105, 6805, 9614, 6450, 8256, 12602, 9769, 7727, 9351, 12179, 13946, 10220, 3731, 8562, 14991, 13893, 4425, 9240, 4154, 8992, 3198, 7638, 10104, 10144, 8674, 12512, 4593, 10629, 9743, 6524, 9926, 8242, 6362, 7754, 10851, 13298, 6128, 11834, 5814, 10882, 8764, 6744, 10946, 8832, 7478, 7047, 3954, 11240, 5003, 10429, 9449, 10518, 7644, 9855, 10497, 11152, 11647, 12375, 11767, 7917, 7231, 9410, 4267, 4693, 15070, 12577, 12381, 8876, 11257, 11852, 9375, 8751, 7235, 3098, 10000, 4227, 6205, 12333, 9396, 10957, 5857, 7555, 8902, 12210, 10067, 12034, 7910, 8494, 3683, 8636, 2384, 6506, 5696, 7932, 3343, 7503, 8475, 9500, 4894, 9664, 9320, 3839, 5885, 5218, 5329, 5107, 10756, 14164, 8810, 10302, 9089, 12488, 14048, 5628, 7279, 7476, 2451, 9453, 12041, 4879, 7559, 7435, 14252, 11260, 13591, 7558, 12821, 7167, 9259, 8023, 6650, 10568, 7890, 9762, 6931, 4216, 13041, 8056, 11264, 12245, 9890, 9319, 6783, 11530, 10114, 14325, 8553, 7432, 8609, 7475, 11285, 7701, 10418, 4409, 6451, 8000, 8066, 6561, 7703, 6425, 11095, 9622, 4936, 11849, 8098, 5826, 7887, 8731, 9824, 11306, 13897, 12382, 9034, 7706, 8913, 12431, 13447, 10431, 2904, 7856, 7599, 9381, 10237, 6626, 6257, 3543, 10052, 4407, 6166, 10905, 5689, 7029, 4454, 6255, 11954, 7331, 6101, 10889, 14718, 7513, 14326, 3696, 6721, 11029, 10029, 8580, 4147, 11882, 11710, 14574, 14208, 9444, 10375, 13858, 8828, 10344, 4530, 8536, 8087, 8792, 6757, 6781, 10909, 6971, 12790, 7058, 2512, 7438, 12020, 9212, 9121, 12607, 8658, 8409, 11178, 6694, 10505, 12058, 4538, 14351, 8778, 12544, 5947, 11935, 12469, 11108, 6439, 5506, 7276, 7191, 12184, 11813, 11995, 8236, 4600, 11745, 11573, 7886, 12891, 7928, 12130, 8982, 6749, 14563, 4675, 10109, 9189, 12699, 8228, 9776, 13069, 5832, 10688, 14505, 2707, 4637, 10871, 7314, 6975, 6575, 3950, 3312, 9530, 6597, 6050, 14835, 13107, 6318, 16146, 7386, 7681, 11212, 3774, 10512, 3915, 7767, 8427, 6307, 9516, 5607, 6069, 9328, 12987, 7814, 8085, 12300, 9012, 2473, 7148, 13268, 10935, 10298, 10250, 2487, 13197, 5273, 5453, 5797, 11526, 5268, 5489, 10753, 6542]

Fill missing value

In [ ]:
cat_cols = binary_cols + nominal_cols + ordinal_cols + [target_col]

preprocessor = myfuncs.load_python_object(
    "../artifacts/data_correction/missing_value_handler.pkl"
)



df_filled = preprocessor.transform(df)
df_filled = pd.DataFrame(df_filled, columns=numeric_cols + cat_cols)



df_filled.head()

,Year_num,Engine_Size_num,Mileage_num,Doors_count_num,old_Owner_Count_num,Brand_nom,Model_nom,Fuel_Type_nom,Transmission_type_nom,Price
0,2005.0,1.2,257760.0,5.0,5.0,BMW,3 Series,Diesel,Manual,2000
1,2013.0,2.9,111790.0,5.0,3.0,Volkswagen,Golf,Hybrid,Automatic,11164
2,2011.0,5.0,13473.0,5.0,4.0,Toyota,RAV4,Hybrid,Automatic,14630
3,2007.0,3.8,133298.0,4.0,5.0,Mercedes,E-Class,Diesel,Manual,7334
4,2012.0,1.3,18611.0,3.0,5.0,Honda,Civic,Petrol,Automatic,10127

Chuyen doi ve dung kieu du lieu

Kiem tra cac gia tri cua cot binary

In [ ]:
for col in binary_cols:
    print(f"{col} -> {df[col].unique().tolist()}")

Chuyen cac cot binary ve so

In [ ]:
df_filled[binary_cols] = df_filled[binary_cols].replace(
    {
        "Yes": 1,
        "No": 0,
    }
)

In [ ]:
df_filled[numeric_cols + binary_cols] = df_filled[numeric_cols + binary_cols].astype(
    "float"
)


df_filled[nominal_cols + ordinal_cols] = df_filled[nominal_cols + ordinal_cols].astype(
    "category"
)

df_filled[target_col] = df_filled[target_col].astype("float")

df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year_num               1000 non-null   float64
 1   Engine_Size_num        1000 non-null   float64
 2   Mileage_num            1000 non-null   float64
 3   Doors_count_num        1000 non-null   float64
 4   old_Owner_Count_num    1000 non-null   float64
 5   Brand_nom              1000 non-null   category
 6   Model_nom              1000 non-null   category
 7   Fuel_Type_nom          1000 non-null   category
 8   Transmission_type_nom  1000 non-null   category
 9   Price                  1000 non-null   float64
dtypes: category(4), float64(6)
memory usage: 52.9 KB

Thay doi thu tu cac label cho cac cot ordinal

In [ ]:
ord_values_dict = {
    "Physical_Activity_Level_ord": ["Low", "Medium", "High"],
    "Smoking_Status_level_ord": ["Never", "Former", "Current"],
    "Alcohol_Consumption_Level_ord": ["Never", "Occasionally", "Regularly"],
    "Cholesterol_Level_ord": ["Normal", "High"],
    "Depression_Level_ord": ["Low", "Medium", "High"],
    "Sleep_Quality_Level_ord": ["Poor", "Average", "Good"],
    "Diet_level_ord": ["Unhealthy", "Average", "Healthy"],
    "Air_Pollution_Exposure_level_ord": ["Low", "Medium", "High"],
    "Social_Engagement_Level_ord": ["Low", "Medium", "High"],
    "Income_Level_ord": ["Low", "Medium", "High"],
    "Stress_Levels_ord": ["Low", "Medium", "High"],
}

ordinal_cols_series = pd.Series(df_filled.columns)
ordinal_cols_series = ordinal_cols_series[
    ordinal_cols_series.str.endswith("ord")
].tolist()


for col in ordinal_cols_series:
    df_filled[col] = df_filled[col].cat.reorder_categories(
        ord_values_dict[col], ordered=True
    )

Check duplicates

In [ ]:
any(df_filled.duplicated())

False

Khong co duplicates

In [ ]:
df_filled.shape

(1000, 10)

Luu test data lai

In [ ]:
myfuncs.save_python_object("../artifacts/data_correction/test_data.pkl", df_filled)