In [ ]:
import os


os.chdir("../")


os.getcwd()

'd:\\DA_workspace\\Template_ML_projects\\car_price_prediction_newacc\\src'

In [ ]:
from regressor.Mylib import myfuncs

In [ ]:
df = myfuncs.load_python_object("../artifacts/data_transformation/1/train_features.pkl")


df.head()

,Year_num,Mileage_num,Engine_Size_num,Doors_count_num,old_Owner_Count_num,Model_nom_5 Series,Model_nom_A3,Model_nom_A4,Model_nom_Accord,Model_nom_C-Class,...,Brand_nom_Ford,Brand_nom_Honda,Brand_nom_Hyundai,Brand_nom_Kia,Brand_nom_Mercedes,Brand_nom_Toyota,Brand_nom_Volkswagen,Fuel_Type_nom_Electric,Fuel_Type_nom_Hybrid,Fuel_Type_nom_Petrol
0,-1.237979,-1.398054,-1.302398,-0.451608,0.707490,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1.081630,1.195642,0.000183,-0.451608,0.707490,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.948027,0.253754,-1.649753,0.449006,0.707490,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-1.237979,1.585112,-1.562914,-1.352221,-1.397671,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.066802,1.201204,0.260700,-0.451608,0.005770,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
target = myfuncs.load_python_object(
    "../artifacts/data_transformation_30/train_target.pkl"
)

target.head()

0    7925.0
1    7749.0
2    3275.0
3    2000.0
4    8439.0
Name: Price, dtype: float64